__pycache__
.tox
.coverage
.vscode
.pytest_cache
.mypy_cache
.idea
*.egg-info
*.egg
build
htmlcov
coverage.json
docs/_build
dist
*.whl
*.tar.gz
reports/*.txt
.venv*
venv*
tests/arbitrarycallbackdatabot
